<%= form_for (@customer) do |f|%>
			<p>
				<%= render 'error_messages' %>
			</p>
			
			<p>
				<%= f.label      :first_name %> &nbsp;&nbsp;&nbsp;&nbsp;
				<%= f.text_field :first_name %>
			</p>

			<p>
				<%= f.label      :last_name %> &nbsp;
				<%= f.text_field :last_name %>
			</p>

			<p>
				<%= f.label       :email %> &nbsp;
				<%= f.email_field :email %>
			</p>

			<p>
				<%= f.label      :mobile_number %> &nbsp;
				<%= f.text_field :mobile_number %>
			</p>
			
			<p>
				<%= f.label :password %> &nbsp;
				<%= f.password_field :password %>
			</p>
			
			<p>
				<%= f.label :password_confirmation, "Confirmation" %> &nbsp;
				<%= f.password_field :password_confirmation %>
			</p>
			
			<p>
				<%= f.submit %>
			</p>
<% end %>
