<h1>Show Profile detail</h1>

<p>
	First Name 	  : <%= @customer.first_name  	%> <br>
	Last  Name 	  : <%= @customer.last_name     %> <br>
	Email      	  : <%= @customer.email       	%> <br>
	Mobile Number : <%= @customer.mobile_number %> <br>
	<%= link_to 'Edit', edit_customer_path(@customer)%>
	<%= link_to 'Index', customers_path%>
</p>