<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_for (@product) do |f|%>	
			<p>
				<%= f.label      :name%> &nbsp;
				<%= f.text_field :name, class:'form-control' %>
			</p>

			<p>
				<%= f.label      :brand%> &nbsp;
				<%= f.text_field :brand, class:'form-control' %>
			</p>

			<p>
				<%= f.label      :price%> &nbsp;
				<%= f.text_field :price, class:'form-control' %>
			</p>

			<p>
				<%= f.label      :size%> &nbsp;
				<%= f.text_field :size, class:'form-control' %>
			</p>

			<p>
				<%= f.label      :category%> &nbsp;
				<%= f.text_field :category, class:'form-control' %>
			</p>

			<p>
				<%= f.submit class:"btn btn-primary"%>
			</p>
		<% end %>
	</div>
</div>	