<div class="center jumbotron">
	<h1>All Products</h1>
	<h4>
	<%= link_to 'Add new product',new_product_path, class: "btn btn-lg btn-primary"%>
	</h4>
	<br>
	
</div>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Brand</th>
				<th>Price</th>
				<th>Size</th>
				<th>Category</th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
				<tr>
					<td><%= product.name %></td>
					<td><%= product.brand %></td>
					<td><%= product.price %></td>
					<td><%= product.size %></td>
					<td><%= product.category %></td>
					<td><%= product.updated_at %></td>
					<td><%= link_to 'Show',product_path(product),class: "btn btn-xs btn-primary"%></td>
					<td><%= link_to 'Buy','#',class: "btn btn-xs btn-primary"%></td>
					<td><%= link_to 'Destroy',product_path(product), method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-xs btn-primary"%></td>
				</tr>
			<% end %>
		</tbody>	
	</table>
</div>