<h1>Show Current Product Details</h1>
<p>
	Name		: <%= @product.name %><br>
	Brand 		: <%= @product.brand %><br>
	Price 		: <%= @product.price %><br>
	Size    	: <%= @product.size %><br>
	Category 	: <%= @product.category %><br>
	Updated_at  : <%= @product.updated_at%><br>
	<%= link_to 'Edit', edit_product_path(@product)%>
	<%= link_to 'Buy', '#'%>
	<%= link_to 'Index', products_path%>
</p>
